.p1{
    display: flex;
    flex-direction: row;
}
.logo{
    background-color: lightgray;
    font-size: 3rem;
    font-weight: bold;
    width: 50vw;
}
.navi{
    background-color: lightgray;
    font-size: 2rem;
    width: 50vw;
    padding-top: 8px;
}
.fbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 13px;
}
.sb{
    background-color: lightgray;
    width: 20vw;
    height: 10vh;
}
.tbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 13px;
}
.box{
    background-color: lightgray;
    width: 30vw;
    text-align: center;
    font-size: 3rem;
    padding-top: 8vh;
    padding-bottom: 8vh;
}
footer{
    background-color: lightgray;
    font-size: 2rem;
    text-align: center;
}