.box1{
    border: 1px solid black;
    width: 100%;
    height: 75px;
}
.box2{
    border: 1px solid black;
    width: 24%;
    height: 100px;
    margin-top: 0.5%;
}
.box3{
    border: 1px solid black;
    width: 32%;
    height: 150px;
    margin-top: 0.5%;
}
.box4{
    border: 1px solid black;
    width: 100%;
    height: 50px;
    margin-top: 42.5%;
}

