.b_color{
   
    align-items: center;
    background-color: aqua;
    
}
.r_size{
    align-items: center;
}
.marq_ef{
    background-color: black;
    color: white;
}
.tab_1{
   
    border: 1px solid black;
}
.center{
    align-items: center;
    
}
